version: "3.9"
services:
  api:
    build:
      context: ./.backend/Dopa.Api
    env_file:
      - ./env/backend.env
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    volumes:
      - ./storage:/app/Files
  postgres:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_DB: dopa_db
      POSTGRES_USER: dopa_user
      POSTGRES_PASSWORD: supersecret
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  pgadmin:
    image: dpage/pgadmin4
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@dopa.local
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "8081:80"
    depends_on:
      - postgres
volumes:
  pgdata:
